<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.mapper.PraiseOrDisagreeMapper">

    <insert id="insertPojo" parameterType="PraiseOrDisagree">
        insert into praise_or_disagree(
        operate_object,
        operate_target,
        operate_type,
        target_type
        )values(
        #{operateObject},
        #{operateTarget},
        #{operateType},
        #{targetType}
        )
    </insert>

    <select id="getPojo" resultType="PraiseOrDisagree">
        select id
        from praise_or_disagree
        where operate_object=#{operateObject}
        and operate_target=#{operateTarget}
        and target_type=#{targetType}
        limit 1
    </select>

    <select id="countLikeNumORHateNum" resultType="int">
        select count(*) from praise_or_disagree
        where operate_target=#{operateTarget}
        and target_type=#{targetType}
        and operate_type=#{operateType}
    </select>

    <delete id="deletePojo" parameterType="PraiseOrDisagree">
        delete from praise_or_disagree
        where operate_object=#{operateObject}
        and operate_target=#{operateTarget}
        and target_type=#{targetType}
    </delete>

</mapper>