<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="SysPermission">
        <id column="permission_id" property="permissionId" jdbcType="INTEGER"/>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="order_index" property="orderIndex" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="eagerLoadRoles" type="SysPermission" extends="BaseResultMap">
        <collection property="roles" ofType="SysRole">
            <id property="roleId" column="role_id" />
            <result property="roleName" column="role_name" />
            <result property="roleNameZh" column="role_name_zh" />
        </collection>
    </resultMap>
    <insert id="insertPojo" parameterType="SysPermission">
        insert into sys_permission(
        permission_name,
        description,
        url,
        order_index,
        parent_id
        ) values (
        #{permissionName},
        #{description},
        #{url},
        #{orderIndex},
        #{parentId}
        )
    </insert>

    <select id="getPojo" resultMap="BaseResultMap">
        select * from sys_permission
        where permission_id=#{id}
    </select>

    <select id="getAllPermission" resultMap="eagerLoadRoles">
        select sp.*,sr.* from sys_permission sp
        left join sys_permission_role spr
        on spr.permission_id=sp.permission_id
        left join sys_role sr
        on spr.role_id=sr.role_id
    </select>

    <select id="getChildrenIds" resultMap="BaseResultMap">
        select * from sys_permission
        where parent_id=#{parentId}
    </select>

    <update id="updatePojo" parameterType="SysPermission">
        update sys_permission set
        permission_name=#{permissionName},
        description=#{description},
        url=#{url},
        order_index=#{orderIndex},
        parent_id=#{parentId}
        where permission_id=#{permissionId}
    </update>

    <delete id="deletePojo">
        delete from sys_permission
        where permission_id=#{id}
    </delete>
</mapper>