<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.mapper.UserAttentionMapper">
    <resultMap id="BaseResultMap" type="UserAttention">
        <id column="attention_id" property="attentionId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_attention_id" property="userAttentionId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="head_image" property="headImage" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="columns">
        a.attention_id,
        a.user_id,
        a.user_attention_id,
        a.create_time,
        b.user_name,
        b.sex,
        b.head_image
    </sql>

    <insert id="insertPojo" parameterType="UserAttention">
        insert into user_attention(
        user_id,
        user_attention_id
        ) values (
        #{userId},
        #{userAttentionId}
        )
    </insert>

    <select id="getPojo" resultMap="BaseResultMap">
        select * from user_attention
        where user_id=#{userId}
        and user_attention_id=#{userAttentionId}
    </select>

    <select id="getMarkListByUserId" resultType="com.roc.vo.MarkDetailVo">
        select
        m.mark_id as "markId",
        m.user_id as "userId",
        m.lat,
        m.lng,
        b.name,
        b.head_image as "headImage",
        m.title,
        m.content,
        m.create_time AS "createTime"
        from user_attention a
        left join map_mark_message m
        on a.user_attention_id=m.user_id
        left join sys_user b
        on m.user_id=b.user_id
        where a.user_id=#{userId}
        and m.mark_id is not null
        ORDER BY m.create_time DESC
    </select>

    <select id="getCommListByUserId" resultType="com.roc.vo.ExperienceVo">
        SELECT * FROM(
            select
            e.experience_id as "commId",
            e.user_id as "userId",
            e.like_num as "likeNum",
            e.unlike_num as "unlikeNum",
            b.name,
            b.head_image as "headImage",
            e.create_time AS "createTime",
            e.title,
            e.content,
            c.operate_type AS operateStatus,
            e.image
            from user_attention a
            left join experience e
            on a.user_attention_id=e.user_id
            left join sys_user b
            on e.user_id=b.user_id
            LEFT JOIN praise_or_disagree c
            ON (c.operate_object=#{userId}
            AND c.operate_target=e.experience_id AND c.target_type='0')
            where a.user_id=#{userId}) f
            LEFT JOIN
            (SELECT a.experience_id,COUNT(*) replyCount
             FROM reply a
             GROUP BY a.experience_id) d
             ON f.commId=d.experience_id
             ORDER BY f.createTime DESC
    </select>



    <select id="getListByAttentionId" resultMap="BaseResultMap">
        select <include refid="columns" />
        from user_attention a
        left join sys_user b
        on a.user_id=b.user_id
        where a.user_attention_id=#{userAttentionId}
    </select>

    <delete id="deletePojo">
        delete from
        user_attention
        where
        user_id=#{userId}
        and
        user_attention_id=#{userAttentionId}
    </delete>

</mapper>